{% extends 'index.html' %}
{% load static %}

{% block title %}Оплаты кредитов{% endblock %}

{% block content %}
<script>
    function confirmDelete() {
        return confirm("Вы уверены, что хотите удалить?");
    }
</script>
<style>
    #credit_payments {
        border-collapse: collapse;
        width: 100%;
    }

    #credit_payments td, #credit_payments th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #credit_payments tr:nth-child(even){background-color: #fff;}

    #credit_payments tr:hover {background-color: #ddd;}

    #credit_payments th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00bcd4;
        color: #fff;
    }
</style>
<div class="list-page">
    <div class="flex-container">
        <h2>Список оплат кредитв</h2>
        <a href="{% url 'credit_list' %}"><button type="button" class="btn btn-secondary">Назад</button></a>
    </div>
    <table id="credit_payments">
        <tr>
            <th>Дата оплаты</th>
            <th>Основная сумма</th>
            <th>Процент</th>
            <th>Общая сумма</th>
            <th>Просрочено дней</th>
            <th>Пени</th>
            <th>Итого</th>
            <th>Остаток</th>
            <th></th>

        </tr>
        {% for payment in credit_payments %}
        <tr>
            <td>{{ payment.payment_date }}</td>
            <td>{{ payment.principal_amount }}</td>
            <td>{{ payment.interest }}</td>
            <td>{{ payment.total_amount }}</td>
            <td>{{ payment.days_overdue }}</td>
            <td>{{ payment.penalty }}</td>
            <td>{{ payment.total }}</td>
            <td>{{ payment.balance }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
