
{% extends 'index.html' %}

{% block title %}Единицы измерения{% endblock %}

{% block content %}
  <div class="list-page">
    <div class="flex-container">
      <h2 >Добавить единицу измерения</h2>
      <a href="{% url 'Unitlist' %}"><button type="button" class="btn btn-secondary">Назад</button></a>
    </div>
    <form method="post" action="{% url 'Unitcreate' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Создать</button>
    </form>
  </div>
{% endblock %}
