

{% extends 'index.html' %}

{% block title %}Бюджет{% endblock %}

{% block content %}
    <div class="list-page">
        <div class="flex-container">
            <h2 >Изменить Бюджет</h2>
            <a href="{% url 'budget_list' %}"><button type="button" class="btn btn-secondary">Назад</button></a>
        </div>
        <form  method="post" action="{% url 'budget_edit' pk=position.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
{% endblock %}
