{% extends 'index.html' %}
{% block title %}Подробности о зарике{% endblock %}
{% block content %}
<div class="list-page">
  <div class="flex-container">
    <h2>Подробности о сырье</h2>
    <a href="{% url 'salary_list' %}"><button type="button" class="btn btn-secondary">Назад</button></a>
  </div>
  <p class="detail_p"><strong>Name:</strong> {{ raw.Name }}</p>
  <p class="detail_p"><strong>Unit_of_measurement_id:</strong> {{ raw.Unit_of_measurement_id }}</p>
  <p class="detail_p"><strong>Quantity:</strong> {{ raw.Quantity }}</p>
  <p class="detail_p"><strong>Amount:</strong> {{ raw.Amount }}</p>
  <a href="{% url 'salary_edit' pk=salary.pk %}" class="btn btn-primary">Изменить</a>
  <form method="post" action="{% url 'salary_delete' pk=salary.pk %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mt-2" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?')">Удалить</button>
  </form>
</div>
{% endblock %}
